/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-container {
  height: 300px;
  overflow: auto;
}

table {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .autocompcaja-width {
    width: 60%;
  }

  tr.mat-footer-row {
    font-weight: bold;
  } 

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }